@charset "utf-8";
/* CSS Document */

body {
	margin:0px;
	padding:10px;
	background-color:#FFF;
	/*background-color:#000;*/
	color:#09F;
}

textarea,
input {
	
	/*background-color:#454545;*/
	background-color:inherit;
	color:inherit;
	border:1px dotted #09F;
	outline:none;
}

textarea {
	font-weight:bold;
	font-family:"Lucida Console", Monaco, monospace;
}

.main {
	height:750px;
	width:100%;
	border:1px #09F solid;
}

.code {
	height:300px;
}	

#htmlTag {
	width:99.6%;
	height:290px;
	overflow:auto;
	overflow-x:hidden;
	border:1px #FFFFFF solid;
}

#output {
	height:350px;
	overflow:auto;
	overflow-x:hidden;
	border:1px #FFFFFF solid;
}

.center {
	width:75%;
	text-align:center;
}

pre {
	font-family:"Lucida Console", Monaco, monospace;
	font-weight:bold;
	line-height:1.5em;
}

.password-section {
	width: 50%;
	margin: auto;
	text-align: center;
}